Contact Form — AI Lead Pipeline.json
{
  "name": "Contact Form — AI Lead Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "options": {}
      },
      "id": "8ec112a4-d10d-4bf9-bb4a-5fa72eb4cff2",
      "name": "Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        144
      ],
      "webhookId": "nexflow-contact-form"
    },
    {
      "parameters": {
        "jsCode": "// ── Parse the OpenAI response and merge with original form data ──\n\nconst openaiOutput = $input.first().json;\nconst formData = $('Contact Form Webhook').first().json;\n\n// Handle different n8n / OpenAI response formats\nconst rawText =\n  openaiOutput.message?.content ||\n  openaiOutput.choices?.[0]?.message?.content ||\n  openaiOutput.text ||\n  openaiOutput.content ||\n  '';\n\nlet customerReply, leadSummary;\n\ntry {\n  // Strip markdown code fences if the model added them\n  const cleaned = rawText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n\n  const parsed = JSON.parse(cleaned);\n  customerReply = parsed.customerReply;\n  leadSummary   = parsed.leadSummary;\n\n} catch (e) {\n  // Fallback: plain acknowledgment so the customer always gets a reply\n  customerReply =\n    `<p>Hi ${formData.firstName},</p>` +\n    `<p>Thank you for reaching out! I've received your enquiry about ` +\n    `<strong>${formData.service}</strong> and will personally review ` +\n    `it and follow up within 24 hours.</p>` +\n    `<p>Best,<br>Omkar</p>`;\n\n  leadSummary =\n    `⚠️  AI parse failed — review manually.\\n\\n` +\n    `Name: ${formData.firstName} ${formData.lastName}\\n` +\n    `Email: ${formData.email}\\n` +\n    `Service: ${formData.service}\\n` +\n    `Company: ${formData.company}\\n\\n` +\n    `Message:\\n${formData.message}`;\n}\n\nreturn [{\n  json: {\n    ...formData,\n    customerReply,\n    leadSummary,\n  }\n}];"
      },
      "id": "4bdb077d-19e4-4864-97c3-402053c8b058",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Re: Your enquiry — I'll be in touch soon",
        "message": "={{ $json.customerReply }}",
        "options": {
          "senderName": "Omkar Biradar",
          "replyTo": "omkar13884@gmail.com"
        }
      },
      "id": "9a99ec8d-0528-4066-bd0c-ecea0e2c8e26",
      "name": "Reply to Customer (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "810b6e8d-cc34-40ef-911b-ca3e5e66c8e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "nH69kOxuKXOIYGwc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "omkar13884@gmail.com",
        "subject": "=🔔 New Lead: {{ $json.firstName }} {{ $json.lastName }} — {{ $json.service }}",
        "emailType": "text",
        "message": "={{ $json.leadSummary }}\n\n──────────────────────────\nFULL FORM DATA\n──────────────────────────\nName:      {{ $json.firstName }} {{ $json.lastName }}\nEmail:     {{ $json.email }}\nPhone:     {{ $json.phone }}\nCompany:   {{ $json.company }}\nRevenue:   {{ $json.revenue }}\nService:   {{ $json.service }}\nTimeline:  {{ $json.timeline }}\nSubmitted: {{ $json.submittedAt }}\n\nMessage:\n{{ $json.message }}\n",
        "options": {
          "senderName": "Omkar Contact Form"
        }
      },
      "id": "17920bd9-9581-4988-a010-3388ca79d958",
      "name": "Notify Omkar (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        288
      ],
      "webhookId": "b73cbd29-a240-4b09-860f-a88437dfbcaa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= New contact form submission from the NexFlow website:\n\n  Name: {{ $json.firstName }} {{ $json.lastName }}\n  Email: {{ $json.email }}\n  Phone: {{ $json.phone }}\n  Company: {{ $json.company }}\n  Monthly Revenue: {{ $json.revenue }}\n  Service Interested In: {{ $json.service }}\n  Timeline: {{ $json.timeline }}\n  Submitted At: {{ $json.submittedAt }}\n\n  Their Message:\n  {{ $json.message }}\n\n  Analyze this submission. Score the lead. Write the customer reply and the lead summary. Return only the JSON object — nothing else.",
        "options": {
          "systemMessage": "You are an AI assistant working for Omkar Biradar — an embedded AI automation consultant based in Bangalore, India. He builds custom AI agents, n8n\n  workflows, WhatsApp bots, email automations, lead generation systems, and other automation tools for businesses and enterprise clients.\n\n  A new contact form submission has just arrived on his website. Your job is to:\n  1. Analyze the lead — understand who they are, what they need, and how serious they are\n  2. Write a personalized reply email to send back to the customer\n  3. Write a lead qualification summary to send to Omkar so he can prioritize his follow-up\n\n  CRITICAL: Return ONLY a valid JSON object. No markdown. No code blocks. No explanation. Just raw JSON.\n\n  Return exactly this structure:\n  {\n    \"customerReply\": \"<full HTML email body to send to the customer>\",\n    \"leadSummary\": \"<plain-text lead summary for Omkar>\"\n  }\n\n  ──────────────────────────────────────────\n  CUSTOMER REPLY — rules:\n  ──────────────────────────────────────────\n  - Start with: Hi [FirstName],\n  - Acknowledge their specific service interest by name (e.g. \"your enquiry about WhatsApp automation\")\n  - Be warm, personal, and confident — not corporate or generic\n  - Tell them Omkar will personally review their message and follow up within 24 hours\n  - One short sentence about what that call/follow-up will cover (e.g. \"On the call, I'll map your current workflow and show you exactly what's\n  possible\")\n  - Under 180 words\n  - Sign off: Best regards, Omkar Biradar | AI Automation Consultant | omkar13884@gmail.com\n  - Use only simple HTML: <p>, <strong>, <br> — no inline styles\n  - Do NOT mention pricing, specific timelines, or make guarantees\n\n  ──────────────────────────────────────────\n  LEAD SUMMARY — rules:\n  ──────────────────────────────────────────\n  - Line 1: Lead score — choose one: 🔥 HOT / 🟡 WARM / ❄️  COLD\n    Score based on: how specific their message is, urgency signals, company size, revenue range, how well their need matches Omkar's services\n  - Line 2 onwards — bullet points:\n    • Name + company\n    • Service they want\n    • Revenue range (indicates budget)\n    • Timeline they mentioned\n    • Core intent (what problem are they actually trying to solve — inferred from their message)\n    • Any red flags or missing info\n  - Last line: \"Recommended action:\" — one clear next step for Omkar (e.g. \"Reply today — high-intent, specific ask, good budget signal\")\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        128
      ],
      "id": "3758a691-e693-48ab-a3b0-c040eb881e86",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -576,
        336
      ],
      "id": "100c2d30-b4ac-4895-b546-74841ccfcdb6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lS8e04DaGaqBXdGR",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Reply to Customer (Gmail)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Omkar (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Form Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8994830f-2403-457a-9d84-14debb0d19b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b0963bfb812c9d2f6675e11164f93cb4f0bc80adc375471f801659c02e9227a"
  },
  "id": "1WWbfFa5MPOWZDDr",
  "tags": []
}